<% const nombreFooter = "@Leonardo-Villagrán"; %>
<% const emailFooter = "mailto:leonardovillagran@yahoo.com"; %>

<div class="pt-1 mt-2 text-center">
    <a href="<%= emailFooter %>">
        <span class="badge bg-secondary p-2"><%= nombreFooter %></span>
    </a>
</div>